@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  main {}
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts) format('otf');
}
