@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  body {
    overscroll-behavior: none;
    overflow-x: hidden;
    height: 100%;
    font-family: Gilroy, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
  }

  #root,
  body,
  html,
  main {
  }
}

@font-face {
  font-family: Gilroy, sans-serif;
  src: local("Gilroy"), url(./assets/fonts) format("ttf");
}
